@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-italianno: "Italianno", cursive;
}

.font-italianno {
  font-family: var(--font-italianno);
}

body {
  background: var(--background);
  color: var(--foreground);
}